/* .Display {
  width: 100%;
}
.Display input{
  width: 97%;
  border: 1px solid grey;
  border-radius: 8px;
  font-size: 4rem;
} */
.Display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #2b293d;
  height: 20%;
  color: #80c9c9;
  font-size: 24px;
}